<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Access Mailbox Size Leaderboard</title>
</head>
<body>
    <div class="container">
        <div class="form-section">
            <h2 id="formTitle">Log In</h2>
            <form>
                <label for="username">Username</label>
                <input type="text" id="username">
                <label for="password">Password</label>
                <input type="password" id="password">
                <div id="mailboxSizeContainer" style="display: none;">
                    <label for="mailboxSize">Mailbox Size</label>
                    <input type="number" id="mailboxSize" min="0" value="0" style="width: 4em;">
                    <label for="mailboxUnit">Unit</label>
                    <select id="mailboxUnit">
                        <option value="GB">GB</option>
                        <option value="MB">MB</option>
                    </select>
                </div>
                <div style="display: flex;">
                    <input id="mainAction" type="button" value="Log In">
                    <input id="secondaryAction" class="secondary" type="button" value="Sign Up">
                </div>
                <div id="errorBox" style="display: none; color: darkred;"></div>
            </form>
        </div>
    </div>
    <script>
        let login = true;
        $(document).ready(function() {
            $('#secondaryAction').click(function() {
                $('#errorBox').hide()
                const mainAction = $('#mainAction');
                if (mainAction.val() === 'Log In') {
                    $('#mailboxSizeContainer').show()
                    mainAction.val('Sign Up');
                    $('#formTitle').text('Sign Up');
                    $(this).val('Log In');
                    login = false;
                } else {
                    $('#mailboxSizeContainer').hide()
                    mainAction.val('Log In');
                    $('#formTitle').text('Log In');
                    $(this).val('Sign Up');
                    login = true;
                }
            });
            $('#mainAction').click(function() {
                $('#errorBox').hide()
                let apiUrl = login ? '/api/token' : '/api/users';
                let data = {
                    username: $('#username').val(),
                    password: $('#password').val()
                };

                if (!login) {
                    data.mailboxSize = $('#mailboxSize').val();
                    data.mailboxUnit = $('#mailboxUnit').val();
                }

                $.ajax({
                    url: apiUrl,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function(response) {
                        document.cookie = "token=" + response.tokenValue;
                        window.location = '/';
                    },
                    error: function(xhr, status, error) {
                        if(xhr.status === 401) {
                            $('#errorBox').show().text('Wrong username or password');
                        } else if(xhr.status === 400) {
                            $('#errorBox').show().text('Username already exists');
                        } else {
                            let errorMessage = xhr.status + ': ' + xhr.statusText;
                            $('#errorBox').show().text('Error - ' + errorMessage);
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
